.home-container{
  background-image: url('../images/maytheForceBeWithYou.jpg');
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  width:100vw; 
  height: 80vh;
  display: flex;
  overflow: hidden;
  position: relative;
  opacity:0;
  animation: backGroundChange 8s linear;

}


@keyframes backGroundChange {
  0%{
    background-image: url('../images/starSky.jpeg');
    opacity: 1;

  }
  50%{
    background-image: url('../images/starSky.jpeg');
    opacity: 1;

  }
  100%{
    background-image: url('../images/starSky.jpeg');
    opacity: 1;

  }
  }

.alongtimeago{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left:50%;
  width: 50%;
  opacity: 0;
  display: block;
  transform: translateX(-50%) translateY(-50%);
  animation: opastiy 4s linear;
}

@keyframes opastiy {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.starWarsLogo{
  padding: 0;
  margin: 0;
  top: 50%;
  left:50%;
  width: 50%;
  position: absolute;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  animation: logoDance 4s ease-out 4s; 

} 

@keyframes logoDance {
  0%{
    width: 200%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateX(-50%) translateY(-50%) scale(0.1);
    opacity: 0;
  }
}
  

.info{
  color:#FFE400 ;
  color:  #a0edce;

  font-size: 1.5rem;
  position: absolute;
  top:30%;
  left:50px;
  opacity: 1;
  animation: opasText 10s ease 0s ; 
}

.info p{
  position: relative;
  animation: allInfo 5s ease-in-out 10s ; 
}
.info p a{
  color:  #a0edce;
  color:#FFE400 ;

  text-decoration: none;
}
.enjoy{
  width: 30%;
  position: relative;
  animation: allInfo 5s ease-in-out 10s; 

 }

@keyframes allInfo {
  0%{
    left:-50px;
  }
  25%{
    left:-40px;
  }
  50%{
    left:-30px;
  }
  75%{
    left:-20px;
  }
  100%{
    left:-10px;
  }
} 

@keyframes opasText {
0%{
  opacity:0;
 }
50%{
  opacity:0;
 }
100%{
  opacity:0;
 }
} 
   
